[user]
	email = emmag87@gmail.com
	name = Emma Guy
[alias]
	s = status -sb 								# short, with branch info
	ds = stash show -p stash@{0}						# diff against the top of the stash
	dh = git diff HEAD^ HEAD						# diff last commit with version before it
	psub = submodule update --init --recursive				# update submodules
	ri = rm --cached `git ls-files -i --exclude-from=.gitignore`		# files in the repo that are now excluded by the gitignore
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow bold
	changed = red bold
	untracked = cyan bold
[push]
	default = current
[merge]
        keepBackup = false
        tool = custom
[mergetool "custom"]
        cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
        keepTemporaries = false
        trustExitCode = false
        keepBackup = false
        prompt = false
[diff]
    tool = p4merge
[difftool "p4merge"]
	prompt = false
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
